<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Image Upload</title>
</head>
<body>
    <form method = "post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Upload</button>
        {% if img_obj %}
        <h3>Succesfully uploaded : {{img_obj.author}}:{{img_obj.image_id}}</h3>
        <img src="{{ img_obj.image.url}}" alt="connect" style="max-height:400px">
        {% endif %}
    </form>
</body>
</html>
